{{#if alertMsg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{alertMsg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#if errorMsg}}
{{#each errorMsg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{this.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}
{{#if successMsg}}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{successMsg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}