<div class="container">
  <div class="user-container">
    <div class="user-title">
      登入
    </div>
    <form action="/users/login" method="POST" id="user-form">
      <div class="form-group">
        <div class="input-field email-field">
          <i class="ml-2 mr-1 far fa-envelope"></i>
          <input type="email" placeholder="Email" onfocus="addEmailActive()" onblur="removeEmailActive()" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-field password-field">
          <i class="ml-2 mr-1 fa fa-key" aria-hidden="true"></i>
          <input type="password" placeholder="Password" onfocus="addPasswordActive()" onblur="removePasswordActive()"
            required>
        </div>
      </div>
      <button class="btn">Log In</button>
    </form>
    <p class="mt-4">- or log in with-</p>
    <a class="mb-4" href="/auth/facebook"><img src="/image/f_logo.png" alt="facebook" width="40px"></a>
    <div style="width:250px; border-top: .1px solid rgb(197, 197, 197);">
    </div>
    <a href="/users/register" class="mt-4" style="text-decoration: none;">Create new account</a>
  </div>
</div>

<script>
  function addEmailActive() { document.querySelector('.email-field').classList.add('email-active') }
  function removeEmailActive() { document.querySelector('.email-field').classList.remove('email-active') }
  function addPasswordActive() { document.querySelector('.password-field').classList.add('password-active') }
  function removePasswordActive() { document.querySelector('.password-field').classList.remove('password-active') }
</script>