<nav class="navbar navbar-light bg-none">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <a class="mt-3 navbar-brand" href="/"><img src="/image/logo.png" alt="" width="120px"></a>
    </div>
  </div>
</nav>
<div class="container create-form">
  <form action="/record/create" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="expense" name="name" placeholder="支出項目" autocomplete="off"
        maxlength="12" list="new-item" required>
      <datalist id="new-item">
        <option value="早餐">
        <option value="午餐">
        <option value="晚餐">
        <option value="捷運">
        <option value="房租">
        <option value="加油">
      </datalist>
    </div>
    <div class="form-group">
      <input type="date" class="form-control new-date" id="date" name="date" placeholder="日期" value="2020-05-20"
        autocomplete="on" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="merchant" name="merchant" placeholder="商家" autocomplete="off"
        maxlength="12" list="merchant-list">
      <datalist id="merchant-list">
        <option value="7-11">
        <option value="全家便利商店">
        <option value="麥當勞">
        <option value="全聯">
        <option value="中油">
        <option value="博客來">
        <option value="屈臣氏">
        <option value="其他">
      </datalist>
    </div>
    <div class="form-group">
      <select id="new-category" class="form-control" name="category" required>
        <option>支出類別</option>
        <option>餐飲食品</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>家居物業</option>
        <option>其他</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="amount" name="amount" placeholder="金額" required>
    </div>
    <div class="form-group row justify-content-center">
      <button type="submit" class="btn mt-3" style="background-color: transparent;"><i class="fas fa-file-import fa-2x"
          style="color: rgb(60, 147, 179);"></i></button>
    </div>
  </form>
</div>

<script>
  const dateValue = document.querySelector('.new-date')
  const now = new Date()
  dateValue.value = now.toISOString().slice(0, 10)
</script>