body {
  background: linear-gradient(to left,rgb(216,213,210),rgb(245,245,245));
}
a {
  text-decoration: none;
}
/* Index page */
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar-brand img {
  width: 80px;
}
.no-record {
  font-size: 25px;
  color: gray;
  text-align: center;
  margin-top: 80px;
}
.tip-text {
  visibility: hidden;
  width: 120px;
  background-color: rgb(52, 52, 52);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-top: 50px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.logout-text {
  visibility: hidden;
  width: 60px;
  background-color: rgb(153, 46, 46);
  color: #fff;
  text-align: center;
  padding: 3px 0;
  border-radius: 6px;
  position: absolute;
  margin-top: -25px;
  z-index: 1;
}
.tip:hover .tip-text, .logout:hover .logout-text {
  visibility: visible;
}
.total-amount {
  margin-top: 130px;
  font-size: 60px;
  font-weight: 800;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  position: absolute;
}
.chart-container {
  width: 310px;
}
.chart-container:hover {
  z-index: 999;
}
#myChart {
  width: 300px;
  height: 300px;
}
.filter {
  display: flex;
  justify-content: space-around;
}
#filter-category, #filter-month {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 3px 4px 8px rgb(189, 189, 189);
  width: 160px;
}
.record-list {
  overflow: auto;
  height: 500px;
  width: 350px;
  margin-bottom: 50px;
}
.list-group-item {
  margin-top: 2px;
  border: none;
  display: flex;
  flex-direction: row;
}
.list-top {
  display: flex;
  margin-top: 5px;
}
.category-icon i { font-size: 25px; }
.category-icon .fa-home { color: rgb(208, 177, 21); }
.category-icon .fa-shuttle-van { color: rgb(55, 126, 152);}
.category-icon .fa-grin-beam {color: rgb(53, 140, 92); }
.category-icon .fa-utensils { color: rgb(131, 64, 126);}
.category-icon .fa-pen {color: rgb(117, 123, 125); }

.list-name {
  font-size: 18px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(66,66,66);
  letter-spacing: 1px;
  padding-left: 8px;
}
.list-bottom {
  display: flex;
  align-items: center;
  margin-top: -10px;
}
.list-date {
  font-size: 12px;
  font-style: italic;
  color: gray;
  width: 200px;
}
.list-amount {
  width: 100px;
  font-family: 'Rubik', sans-serif;
  color: rgb(94, 158, 185,0.8);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: end;
}
.delete-btn {
  border: none;
  background-color: transparent;
  font-size: 10px; 
  color:rgb(120, 120, 120, .3);
  position: absolute;
  margin: -10px 0px 0px -10px;
}
.delete-btn:hover {
  cursor: pointer;
  color:rgb(163, 27, 27);
  font-size: 20px;
  margin: -15px 0px 0px -15px;
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: -100px;
}
.logout img{
  width: 30px;
}

/* New and edit page */
.create-form {
  width: 300px;
  height: 450px;
  margin-top: 50px;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(82, 80, 78);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control {
  background-color: rgb(240, 240, 240,0.9);
  border: none;
  margin-top: 1.5em;
}
.form-control::placeholder {
  color: rgb(100, 100, 100);
}

::-webkit-inner-spin-button { display: none; }   
::-webkit-datetime-edit-text {  padding: 5px; } 

@media (min-width: 992px) {

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
.index-left {
  margin-right: 30px;
}
.chart-container {
  margin-top: -50px;
}
.total-amount {
  margin-top: 150px;
  font-size: 70px;
}
.chart-container {
  margin-top: -10px;
  width: 380px;
}
.record-list {
  overflow: auto;
  height: 500px;
  width: 350px;
  margin-bottom: 50px;
}}