/* * {
  border: 0.5px solid pink;
} */
body {
  /* background: linear-gradient(to left,#ECE9E6,#FFFFFF); */
  background: linear-gradient(to left,rgb(216,213,210),rgb(245,245,245));
}
/* Index page */
.total-amount {
  font-size: 100px;
  color: orange;
  font-weight: 600;
}
.category-icon {
  display: flex;
  justify-content: center;
  width: 50px; 
  margin-right: 10px;
}
.category-icon i {font-size: 50px;} 
.category-icon .fa-home { color: teal; }
.category-icon .fa-shuttle-van { color: rgb(79, 187, 227);}
.category-icon .fa-grin-beam {color: rgb(34, 161, 87); }
.category-icon .fa-utensils { color: rgb(131, 64, 126);}
.category-icon .fa-pen {color: rgb(145, 160, 165); }

.edit-btn {
  border: none;
  background-color: transparent;
}
.edit-btn i {
  font-size: 25px; 
  color:rgb(118, 118, 118);
}

/* New and edit page */
.create-form {
  width: 400px;
  height: 430px;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(82, 80, 78);
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 205px;
  background-color: rgb(240, 240, 240,0.9);
  border: none;
}
.form-control::placeholder {
  color: rgb(100, 100, 100);
}

@media (min-width: 767.98px) {
  .record-list {
    width: 700px;
  }
}
::-webkit-inner-spin-button { display: none; }   
::-webkit-datetime-edit-text {  padding: 5px; } 
